fieldset {
    width: 800px;
    border: solid 1px #2d4694;
    border-radius: 5px;
    padding: 20px;
    color: #060914;
    font-family: Inter, Helvetica, Arial, Sans-Serif, sans-serif;
    font-size: small;
}

legend {
    background-image: linear-gradient(276.83deg, #0096cc, #2d4694);
    border-color: #2d4694;
    color: white;
    font-size: large;
    font-weight: 700;
    font-family: Inter, Helvetica, Arial, Sans-Serif, sans-serif;
    padding: 5px 10px 3px;
    border-radius: 5px;
}

#apikey-input {
    width: 480px;
}

.save-apikey {
    transition: background-color 0.3s ease-out;
    width: 130px;
}

div.show-search {
    width: 637px;
    cursor: pointer;
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
}

div.show-search:hover {
    text-decoration: underline;
}

label.search-ui {
    display: inline-block;
    width: 150px;
}

input {
    border: none;
    background-color: #f2f2f2;
    color: #060914;
    padding-left: 10px;
    width: 480px;
}

select.search-option {
    border: none;
    background-color: #f2f2f2;
    color: #060914;
    width: 492px;
}

select.search-option:hover {
    background-color: #f2f2f2;
}

select,
button {
    border: none;
    background-color: #2d4694;
    color: white;
    padding: 4px 10px;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
}

select:hover,
button:hover {
    background-color: #0096cc;
}

select,
input,
button {
    margin-bottom: 10px;
    height: 32px;
    border-radius: 4px;
    margin-right: 10px;
}

select:focus-visible,
button:focus-visible {
    outline: none;
}

a#query-link {
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.5s ease-out;
}

input:focus-visible {
    outline: solid 1px #060914;
}

#extract-select {
    width: 50px;
}

.results-container {
    font-weight: 500;
}

.abort-button,
.abort-button:hover {
    background-color: #e60000;
}

.url-entry {
    width: 130px;
    margin-right: 20px;
    margin-top: 10px;
}

/* Style du spinner d'attente */
.spinner {
    border: 2px solid #bfbfbf;
    border-left: 2px solid #060914;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.extract-button,
.abort-button {
    width: 130px;
}

#query-link {
    color: #060914;
}

#query-link:hover {
    color: #4d4d4d;
}

#query-link:visited {
    color: #060914;
}

#query-url-div {
    margin-bottom: 10px;
}

#extract-select {
    margin-left: 10px;
}

a,
a:visited {
    color: inherit;
}

a:hover {
    color: #4d4d4d;
}

.show-list,
.hide-list {
    cursor: pointer;
}

.show-list:hover,
.hide-list:hover {
    text-decoration: underline;
    color: #4d4d4d;
}

span#api-counter {
    font-weight: bold;
    color: #e60000;
}
