/* Style de l'encadré */
fieldset.pcm-ui {
    background-color: #f0f0f0;
    width: auto !important;
    height: auto !important;
    border: solid 1px !important;
    border-radius: 0.5em;
    border-color: #2a303b !important;
    margin: 5px 0 !important;
    padding: 10px !important;
    font-family: 'Marr Sans', Arial, 'Roboto', sans-serif;
    font-size: 15px;
    vertical-align: middle;
    text-transform: none;
}

legend {
    background: linear-gradient(#3f495a, #2a303b);
    border-radius: 0.5em;
    border-color: #2a303b;
    padding: 5px !important;
    color: white;
    font-size: 16px;
    vertical-align: middle;
    display: inline;
}

.legend-text {
    text-align: center;
    margin-left: 5px;
    font-family: 'The Antiqua B', Georgia, 'Droid-serif', serif;
    font-weight: bold;
    margin-right: 5px;
}

/* Style des boutons et du menu de sélection du format */
button.pcm-ui,
select.pcm-ui,
.abort-button {
    background-color: #2a303b;
    color: #ffffff !important;
    border: none;
    height: 36px;
    font-family: 'Marr Sans', Arial, 'Roboto', sans-serif;
    font-weight: 500 !important;
    text-align: center;
    padding: 6px 12px;
    border-radius: 0.3rem;
    pointer-events: auto;
    margin-right: 10px !important;
    float: right;
    transition: background-color ease-out 0.3s;
}

button.pcm-ui:hover,
select.pcm-ui:hover {
    background-color: #3f495a;
}

button {
    cursor: pointer;
}

select:focus-visible {
    outline: none;
}

.abort-button {
    background-color: #e60000;
    color: white;
    display: none;
    transition: background-color ease-out 0.3s;
}

.abort-button:hover {
    background-color: #cc0000;
}

/* Style du bouton d'option d'extraction */
.switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 28px;
    height: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 28px;
  }

.slider::before {
    position: absolute;
    content: '';
    height: 11px;
    width: 11px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2a303b;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2a303b;
}

input:checked + .slider::before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

#extractOption {
    display: inline;
    vertical-align: middle;
    margin-right: 5px;
}

/* Style du message s'affichant pendant l'extraction */
#extractionMessage {
    font-family: sans-serif;
    font-size: small;
    font-weight: bold;
    text-transform: none;
    display: inline;
    margin-left: 1em;
    vertical-align: middle;
}

/* Style du spinner d'attente */
.spinner {
    border: 2px solid #e1e4ea;
    border-left: 2px solid #2a303b;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Style de la liste de fichiers téléchargés */
.fileList {
    font-family: sans-serif;
    font-size: small;
    font-weight: bold;
    text-transform: none;
    white-space: pre-wrap;
    color: green;
}

/* Style des boutons d'affichage et masquage des listes d'articles abonnés ou en erreur */
.show-article-list-button {
    display: block;
    cursor: pointer;
}

.hide-article-list-button {
    display: none;
    cursor: pointer;
}

.show-article-list-button,
.hide-article-list-button {
    color: #2a303b;
    transition: color ease-out 0.3s;
}

.show-article-list-button:hover,
.hide-article-list-button:hover {
    color: #2a303b;
}

/* Style des listes d'articles abonnés ou en erreur */
.list-container {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.5em;
    transition: background-color ease-out 0.3s;
}

.list-container:hover {
    background-color: rgba(0, 0, 0, 0.35);
}

.article-list-container {
    color: #000;
    font-weight: normal;
}

.error-file-link:hover,
.skipped-link:hover {
    text-decoration: underline;
}
